* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
#FF56FF Sombra do texto
purple Sombra da caixa
white cor do texto */

body {
    background-color: #171717;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#menuIcon {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

#closeIcon {
    float: left;
    position: sticky;
    top: 45%;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

@keyframes lights {
    0% {
        color: white;
        border-color: white;
        box-shadow: 0 0 20px 3px purple, inset 0 0 10px purple;
        text-shadow: 0 0 8px #FF56FF;
    }

    25% {
        color: white;
        border-color: white;
        box-shadow: 0 0 20px 3px purple, inset 0 0 10px purple;
        text-shadow: 0 0 8px #FF56FF;
    }

    50% {
        color: black;
        border-color: black;
    }

    75% {
        color: white;
        border-color: white;
        box-shadow: 0 0 20px 3px purple, inset 0 0 10px purple;
        text-shadow: 0 0 8px #FF56FF;
    }

    100% {
        color: white;
        border-color: grey;
        box-shadow: 0 0 10px 3px black, inset 0 0 10px purple;
        text-shadow: 0 0 8px black;
    }
}

.welContainer {
    display: block;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 40px;
    text-align: center;
}

.welcomeTxt {
    font-family: 'Ms Madi', cursive;
    font-size: 80px;
    background-color: rgb(51, 25, 51);
    color: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
    box-shadow: 0 0 20px 3px purple, inset 0 0 10px purple;
    text-shadow: 0 0 8px #FF56FF;

    box-sizing: content-box;
    margin: auto;
    width: 400px;
    padding: 10px;

    animation-name: lights;
    animation-duration: 50ms;
    animation-iteration-count: 1500;

    border-radius: 30px;
    border: double 7px;
}

#startBtn {
    border: double 5px #333333;
    border-radius: 20px;
    color: #333333;
    width: 300px;
    height: 60px;
    line-height: 45px;
    margin: auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
}

#startBtn:hover {
    animation-name: lights;
    animation-duration: 50ms;
    animation-iteration-count: infinite;
}

#setMarker {
    font-family: Oswald, sans-serif;
    display: none;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    text-align: center;
    width: 210px;
    height: 70px;
}

#setMarker {
    color: white;
    text-shadow: 0 0 15px #FF56FF;
}

#playerNumber {
    color: white;
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
}

.number {
    background-color: #3c3c3c;
    box-shadow: 0 0 10px -2px black;
    color: #1e1e1e;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 100%;
}

.number:hover {
    background-color: white;
    color: purple;
    box-shadow: 0 0 20px 6px purple;
}

.containerOfPlayers {
    font-family: 'Oswald', 'sans-serif';
    margin: auto;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 630px;
    gap: 15px;
}

.playerDisplay {
    display: none;
    width: 200px;
    box-shadow: 0 0 10px black;
    margin: auto;
}

.inpName {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    width: 100%;
    height: 40px;
    text-align: center;

    outline: none;
    border: none;

    background-color: #333333;
    color: grey;
}

.buttonArea {
    display: none;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.button {
    border: none;
    padding-bottom: 8px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Oswald', 'sans-serif';
    font-size: 35px;
    box-shadow: 0 0 10px black;
    background-color: #333333;
    color: grey;
}

.button:hover {
    background-color: white;
    color: purple;
    box-shadow: 0 0 20px 6px purple;
}

.playerMarker {
    display: none;
    width: 200px;
    height: 160px;

}

.playerName {
    display: block;
    text-align: center;
    font-size: 22px;
}

.points {
    display: block;
    height: 65px;
    line-height: 65px;
    text-align: center;
    font-size: 65px;
}

.scoringButtonsArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.scoringSymbols {
    background-color: rgb(52, 52, 52);
    box-shadow: 0 0 10px -2px black;
    color: rgb(30, 30, 30);
    font-size: 30px;
    height: 40px;
    width: 40px;
    line-height: 37px;
    border-radius: 50%;
    text-align: center;
    margin-top: 15px;
}

.scoringSymbols:hover {
    background-color: white;
    color: purple;
    box-shadow: 0 0 20px 6px purple;
}

.fontRed {
    color: #F4C2C2;
    text-shadow: 0 0 10px #FF0000;
}

.fontCyan {
    color: #D4F0FB;
    text-shadow: 0 0 10px #38C6FF;
}

.fontGreen {
    color: #C6FBC5;
    text-shadow: 0 0 10px #18FF14;
}

.fontYellow {
    color: #FFF5B7;
    text-shadow: 0 0 10px #F9D800;
}

.fontPurple {
    color: #FFE5FB;
    text-shadow: 0 0 10px #D600B9;
}

.fontBlue {
    color: #b6d0ff;
    text-shadow: 0 0 10px #0062ff;
}

#finishRound {
    display: none;
    text-align: center;
    margin-top: 45px;
}

#roundScreen {
    display: none;
    backdrop-filter: blur(2px);
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    text-align: center;
}

#listItens {
    list-style: none;
    font-family: 'Oswald', 'sans-serif';
    margin-top: 40px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 0 0 8px #FF56FF;
}

#restartScore {
    display: inline-block;
    font-family: 'Oswald', 'sans-serif';
    font-size: 25px;
    color: grey;
    cursor: pointer;
    margin: 20px;
    margin-bottom: 30px;
}

#restartScore:hover {
    color: white;
    text-shadow: 0 0 10px #FF56FF;
    text-decoration: underline;
}

#restartArea {
    position: sticky;
    top: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

@media (max-width: 460px) {

    .welcomeTxt {
        width: 90%;
        font-size: 40px;
        box-sizing: border-box;
    }

    #startBtn{
        width: 50%;
        height: 40px;
        line-height: 25px;
        font-size: 22px;

        border: double 5px #656565;
        color: #656565;
    }

    #roundScreen {
        position: fixed;
        top: 0;
        height: 100%;
        width: 80%;
    }

    #menuIcon {
        position: fixed;
        top: 0;
        font-size: 35px;
    }

    .points {
        height: 50px;
        line-height: 50px;
        font-size: 50px;
    }

    .scoringSymbols {
        color: rgb(104, 104, 104);
        font-size: 20px;
        height: 30px;
        width: 30px;
        line-height: 27px;
    }

    .playerName {
        font-size: 18px;
    }

    #restartScore {
        font-size: 22px;
    }

    #buttonFinish {
        font-size: 22px;
    }

}